<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>23810574686-no0041cahfg7prl4onn0taqlt9d8q2k7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.23810574686-no0041cahfg7prl4onn0taqlt9d8q2k7</string>
	<key>API_KEY</key>
	<string>AIzaSyD6RZQ2gHEbQVvedXWy8SdNq7jdxOOASE8</string>
	<key>GCM_SENDER_ID</key>
	<string>23810574686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>escape.the.apocalypse</string>
	<key>PROJECT_ID</key>
	<string>escape-the-apocalypse</string>
	<key>STORAGE_BUCKET</key>
	<string>escape-the-apocalypse.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:23810574686:ios:fd6a1e4f91fce7dafe27cf</string>
</dict>
</plist>